@import "/CSS/estilo.css";

:root {
    --color-fondo: #121212;
    --color-texto: #e0e0e0;
    --color-blanco: #fff;
    --color-primario: #bb86fc;
    --color-primario-oscuro: #9b5de5;
    --color-azul-claro: #333;
    --color-azul-muy-claro: #1e1e1e;
    --color-borde: #444;
    --color-secundario-texto: #bbb;
}

.skip-link {
    background: var(--color-primario);
    color: #000;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

main,
article,
form,
aside,
.toc {
    background-color: var(--color-azul-muy-claro);
    border-color: var(--color-borde);
}

a {
    color: var(--color-primario);
}

header,
footer {
    background-color: var(--color-primario);
}

nav[aria-label="Menú principal"] li a {
    color: #000;
}

nav[aria-label="Navegación alfabética"] a[aria-current="page"] {
    color: #000;
}

button,
input[type="submit"],
input[type="reset"] {
    color: #000;
}

footer {
    color: #000;
}

footer a {
    color: #000;
}