@import "/CSS/estilo.css";

body {
    background: #fff;
    color: #000;
    font-size: 12pt;
}

header,
nav,
footer,
aside,
.toc {
    display: none;
}

article,
main {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

a {
    color: #000;
    text-decoration: underline;
}

nav,
footer,
.menu,
.botones,
.formulario,
.publicidad {
    display: none;
}

a::after {
    content: " (" attr(href) ")";
    font-size: 10pt;
}